<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Authors:</strong>
    <%= book.authors %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Page count:</strong>
    <%= book.page_count %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= book.categories %>
  </p>

  <p>
    <strong>Image links:</strong>
    <%= book.image_links %>
  </p>

</div>
